

#hipster h5 {
  color: #fff;
  padding-top: 10px;
  margin-bottom: 0px;
}

#hipster p {
  color: #9fc2e1;
}

.bgg {
  background: #0c88d6;
}

.pp2 {
  padding-left: 30px !important;
  padding-right: 30px !important;
}

.back {
  width: 330px;
  margin-left: 15px;
  margin-top: 10px;
}

.back h5 {
  color: #fff;
  padding-top: 20px;
  font-size: 25px;
}

.back p {
  color: #fff;
  font-size: 14px;
  font-weight: 100;
}

.circle {

  width: 150px;
  height: 150px;
  background: rgba(95,83,83,1.00);

  border-radius: 50%;

  transform: scale(1, 1);

}

.main_style_8:hover .quarter2 {
  opacity: 1;
  transition: ease-in-out 0.6s
}

.main_style_8:hover .quarter3 {
  opacity: 1;
  transition: ease-in-out 0.6s
}

.main_style_8:hover .quarter4 {
  opacity: 1;
  transition: ease-in-out 0.6s
}

.main_style_8:hover .cutout {
  transform: rotate(30deg);
  transition: ease-in-out 0.8s
}

.main_style_-c {
  position: relative;
  width: 150px;
  height: 150px;
  margin: 0 auto;
}

.quarter {
  position: absolute;
  width: 50%;
  height: 50%;
  transition: background-color 0.5s ease-in-out;
}

.quarter1 {
  top: 0;
  left: 0;
  background-color: #2897df;
  border-radius: 100% 0 0 0;
  transition: ease-in-out 0.6s
}

.quarter2 {
  opacity: 0;
  top: 0;
  right: 0;
  background-color: #2897df;
  border-radius: 0 100% 0 0;
  transition: ease-in-out 0.6s
}

.quarter3 {
  opacity: 0;
  bottom: 0;
  left: 0;
  background-color: #2897df;
  border-radius: 0 0 0 100%;
  transition: ease-in-out 0.6s
}

.quarter4 {
  opacity: 0;
  bottom: 0;
  right: 0;
  background-color: #2897df;
  border-radius: 0 0 100% 0;
  transition: ease-in-out 0.6s
}

.cutout {
  width: 90%;
  height: 90%;
  background-color: white;
  position: absolute;
  top: 5%;
  left: 5%;
  border-radius: 50%;
  pointer-events: none;
  background-image: url(static/images/men2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  transition: ease-in-out 0.8s
}

.hipster {
  border: 3px solid #fff;
  padding: 10px 20px 10px 20px;
  color: #fff;
  background-color: transparent;
  transition: ease-out 0.5s
}

.hipster:hover {
  background-color: #2897df;
  transition: ease-in 0.5s
}

/*//profile8//*/
